# Dependencies
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
frontend/.next/
out/
frontend/out/
build/
frontend/build/

# Vercel
.vercel
frontend/.vercel

# Testing & Logs
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment variables
.env
.env*.local
frontend/.env*

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
.atl/
*.tsbuildinfo
frontend/*.tsbuildinfo
